body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

main {
    display: grid;
    grid-template-columns: auto 200px;
    column-gap: 1rem;
}

.banner {
	padding: 1rem;
	background-color: #b3e3e3;
    border: solid black 1px;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: span 2;
}

article p {
	text-align: justify;
}

.callout {
	color: #fff;
	background-color: #702963;
    padding: 1rem;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}