@media (min-width: 37.5em) {
    main {
        text-align: center;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0.05);
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 0.5rem auto;
    }
    
    .navigation {
        width:100px;
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
    }
    
}