@media (min-width: 37.5em) {
    h1 {
        left: 20%;
    }

    .content-box {
        text-align: center;
        display: flex;
        justify-content: top;
        background: rgba(200, 200, 200, 0.75);
        padding: 1rem;
        border-radius: 8px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 0.5rem auto;
    }
    
    .navigation {
        width:100px;
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
    }
    
}