:root {
  --primary-color: rgb(50, 25, 120);
  --secondary-color: #333;
  --text-color: #fff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
}

header {
  background: var(--primary-color);
  text-align: center;
  padding-top: 1rem;
  grid-column: 1 / 4;
  color: var(--text-color);
}

h1 {
  text-align: center;
  padding-top: 1rem;
  font-family: Ubuntu;
  grid-column: 1 / 4;
}

h2 {
  text-align: center;
  background-color: var(--primary-color);
  margin-top: 0;
  padding: 0.5rem;
  border-radius: 15px 15px 0 0;
  font-family: Ubuntu;
  color: var(--text-color);
}

h3 {
  text-align: center;
  border-bottom: var(--secondary-color) 1px solid;
  margin: 1rem;
  font-family: Ubuntu;
}

nav {
  margin: 0;
  width: 100%;
  padding-top: 1rem;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  align-items: stretch;
  min-height: 0;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  grid-column: 1 / 4;
}

figure {
    margin: 0;
    padding: 1rem;
    position: relative;
}

figcaption {
    text-align: center;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 1rem;
    position: absolute
}

footer {
  background: var(--primary-color);
  padding: 0.5rem;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  color: var(--text-color);
}

.navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	text-decoration: underline;
	font-weight: bold;
}


.card {
  background: #f0f0ff;
  border: var(--secondary-color) 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  margin: 0.5rem;
}

.about-section-1 {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.about-section-1 p {
  flex: 1;
  padding-left: 0.5rem;
}

.about-section-1 img {
  max-width: 150px;
  flex-shrink: 0;
  padding-right: 0.5rem;
}

.about-section-2 {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.about-section-2 figure {
  flex-shrink: 0;
  max-width: 150px;
}

.about-section-2 figure img {
  max-width: 100%;
  padding-left: 0;
}

.about-section-2 p {
  flex: 1;
  padding-right: 0.5rem;
}

#course-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Ubuntu;
    display: block;
}

#about {
  grid-column: 1;
}

#resources {
  grid-column: 2;
}

#resources ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

#resources li {
  margin: 0.5rem;
}