:root {
  --primary-color: rgb(50, 25, 120);
  --secondary-color: #333;
  --tertiary-color: #ebeb60;
  --text-color: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
  background: var(--primary-color);
  text-align: left;
  padding-top: 1rem;
  color: var(--text-color);
}

h1 {
  text-align: left;
  margin: 0;
  font-family: Ubuntu;
}

nav {
  margin: 0;
  width: 100%;
  padding-top: 1rem;
  display: flex;
}

main {
    max-width: 400px;
    margin: 0 auto;
}

footer {
  background: var(--primary-color);
  padding: 0.5rem 0;
  text-align: center;
  color: var(--text-color);
}

footer p {
  margin: 0.25rem 0;
}

.temple-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 25px;
	place-items: center;
  margin: 1rem;
}

.navigation {
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	background-color: var(--secondary-color);
    color: #fff;
	width: 100%;
    margin: 0;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	text-decoration: underline;
	font-weight: bold;
}

.open a {
	display: block;
}

.temple-card {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: var(--tertiary-color);
    width: 90%;
    height: 90%;
}

.temple-image {
    max-width: 100%;
    max-height: 150px;
    border-radius: 4px;
}

#title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Ubuntu;
    display: block;
    margin-left: 1rem;
}

#menu::before {
    content: "☰";
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #fff;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu.open::before {
	content: "❎";
}
