@media (min-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    main {
        margin-top: 0;
    }

    h2 {
        text-align: left;
        margin: 0.5rem 1rem 0.5rem -1rem;
        background-color: var(--tertiary-color);
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    footer {
        position: absolute;
        top: 100vh;
    }
    
    .hero picture img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        
    }

    .card {
        position: relative;
        background-color: rgba(255, 255, 255, 0.8);
        width: fit-content;
        border: 0;
    }

    .sm-view {
        display: none;
    }

    .lg-view {
        display: block;
    }

    #weather-card img{
        display: none;
    }

    #data-card {
        top: 35%;
        left: 10%;
    }

    #weather-card {
        top: 50%;
        left: 60%;
    }
}