@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

    header {
        text-align: center;
    }

    main {
        max-width: 1200px;
    }

	#menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .temple-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
